$main-accent-color: #060b35;
$secondary-color: #616070;
$btn-color: #fff;
$secondary-accent-color: #00acdc;
$border-color: #f3f3f3;
$hover-color: #34568b;
$a-primary-color: #060b35;
$a-secondary-color: #00acdc;
$bg-main-color: #fff;
